.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Lalezar');

:root{
  --padding: 21px;
  --bg-color: #f5f8eb;
  --text-color: #0a643a;
  --accent-color: #a0bb2e;
  --font-family: 'Noticia Text';
  --font-display: 'Lalezar';
}

html{
  margin: 0;
  padding: 0;
}

body{
  /* max-width: 640px; */
  margin: 0 auto;
  /* padding: var(--padding); */
  color: var(--text-color);
  background: var(--bg-color);
  font-family: var(--font-family);
  line-height: 2;
  font-size: 21px;
}

h2{
  font-size: 180%;
  transform: translateX(-5px);
  font-family: var(--font-display);
  margin-bottom: 0;
}

a{
  color: var(--text-color);
}

p{
  margin-bottom: 2em;
}

strong{
  display: inline-block;
  transform: translateX(-5px);
  font-size: 130%;
  line-height: 1;
  font-family: var(--font-display);
}

strong:before{
  content: '🎙️';
  margin-right: 5px;
  margin-top: 34px; 
  display: inline-block;
}

h2:after{
  content: '';
  display: block;
  height: 8px;
  background: var(--accent-color);
  max-width: 55px;
  transform: skewX(-21deg) translateY(-13px);
  border-radius: 3px;
}

.df{
  display: flex;
  align-items: center;
  /* margin-bottom: 2em; */
}
.jcsp{
  justify-content: space-between;
}
.pad-10{
  padding: 10px;
}
.pad-LR40{
  padding: 0 40px;
}
.head-bg{
  background-color: bisque;
}

.page{
    /* max-width: 640px; */
    margin: 0 auto;
    padding: var(--padding);
}


/* ================================= */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  /* padding: 1rem; */
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.w1000{
  max-width: 1000px;
  margin: 0 auto;

}

.point{

  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  cursor: pointer;
}
/* form--------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: rgb(30, 30, 40);
}
form {
  max-width: 800px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}


.stky-h{
  position: sticky;
  top: 0;
  z-index: 999;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.stky-f{
  position: sticky;
  bottom: 0;
  z-index: 999;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}